<h1>Set List Songs</h1>

<% @songs.each do |song| %>
  <h2><a href="/songs/<%= song.id %>"><%= song.title %></a></h2>
  <p>Play Count: <%= song.play_count %></p>
<% end %>

<h3><a href="/">Home</a></h3>