<h1>Song Details</h1>
<h3>Artist: <%= @song.artist.name %></h3>
<h3>Title: <%= @song.title %></h3>
<h3>Length: <%= @song.length %></h3>
<h3>Play Count: <%= @song.play_count %></h3>

<h3><a href="/songs">Back</a></h3>
<h3><a href="/">Home</a></h3>